<div>
  <h3>Отели</h3>
  <div class="col-md-12" ng-if="hotels.length == 0">
    <div class="alert alert-info">Список пуст</div>
  </div>
  <div class="col-md-12" ng-repeat="hotel in hotels">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <span ng-bind="hotel.title"></span>
        <span class="glyphicon glyphicon-star pull-right" ng-repeat="i in hotel.position"></span>
      </div>
      <div class="panel-body">
        <div class="col-md-4">
          <p><b>Местоположение:</b><br/>
            <i><a ui-sref="hotels({country: hotel.country.id})" ng-bind="hotel.country.title"></a></i
                >, <i><a ui-sref="hotels({city: hotel.city.id})" ng-bind="hotel.city.title"></a></i></p>
        </div>
        <div class="col-md-8 wellw">
          <p><b>Описание:</b></p>
          <p ng-bind="hotel.description"></p>
          <p><a ui-sref="hotel_details({id: hotel.id})">Подробнее</a></p>
        </div>
      </div>
    </div>
  </div>
</div>